<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script th:inline="javascript">
        window.onload = function (){
            document.querySelector("#backList").onclick=backFunc;
            document.querySelector("#updateInfo").onclick=updateForm;
        }
        function backFunc(){
            console.log("목록 요청");
            location.href = "/board/list";
        }
        function updateForm(){
            console.log("수정 요청");
            const pass = [[${boardUpdate.boardpass}]];
            const inputPass = document.getElementById("boardpass").value;
            if(pass == inputPass) {
                document.updateInfo.submit();
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }

        }
    </script>
</head>
<body style="margin: 20px;">
<h3 style="text-align: center;">글 수정하기</h3>
<form action="/board/update/save" method="post" name="updateInfo">
    <input type="hidden" name="id" th:value="${boardUpdate.id}"/>
    <table style="width: 95%;" class="table">
        <tr>
            <td>순번</td>
            <td th:text="${boardUpdate.id}"></td>
        </tr>
        <tr>
            <td>글제목</td>
            <td><input type="text" name="boardtitle" th:value="${boardUpdate.boardtitle}"></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="boardwriter" th:value="${boardUpdate.boardwriter}" readonly/></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="text" name="boardpass" id="boardpass"/></td>
        </tr>
        <tr>
            <td>조회수</td>
            <td th:text="${boardUpdate.boardhit}"></td>
        </tr>
        <tr>
            <td>글내용</td>
            <td>
                <textarea th:text="${boardUpdate.boardcontents}" rows="5" style="width: 99%;" name="boardcontents"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="button" value="목록" id="backList" class="btn btn-primary"/>
                <input type="button" value="수정하기" id="updateInfo" class="btn btn-primary"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>